@use "../components/variables" as *;

.task-container {
  background: white;
  border: 1px solid $border;
  border-radius: $radius;
  margin-bottom: 1.5rem;
  overflow: hidden;
  box-shadow: $shadow;
  transition: all $transition;

  .task-name-container {
    background: $secondary;
    padding: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    .delete-task-btn {
      button {
        background: transparent;
        border: none;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          path {
            fill: $text-muted;
            transition: fill $transition;
          }

          &:hover path {
            fill: crimson;
          }
        }
      }
    }
  }

  .task-description {
    display: none;
    padding: 1rem;
    font-size: 0.95rem;
    color: $text-muted;
    transition: all $transition;
    user-select: none;
    &.show {
      display: block;
    }
  }
}
