@use "./components/fonts";
@use "./components/generalStyles";
@use "./components/taskContainer";
@use "./components/taskSender";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
input,
textarea,
select {
  font-size: 16px; /* Mínimo 16px para evitar auto-zoom */
}

body {
  #show-tasks,
  #close-menu {
    display: none;
  }
}
.layout {
  display: grid;
  grid: "sidebar body" 1fr / auto 1fr;
  height: 100dvh;
  .sidebar {
    border-right: 1px solid rgba(150, 149, 149, 0.573);
    grid-area: sidebar;
    padding: 10px;
    width: 300px;
    height: 100%;
    overflow: auto;
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bbb8b8;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
.body {
  grid-area: body;
  margin: auto;
}

@media screen and (width <= 771px) {
  #show-tasks {
    display: block !important;
    padding: 15px 20px;
    .bi-list {
      font-size: 30px;
    }
  }
  #close-menu {
    padding: 10px 20px;

    .bi-x-lg {
      font-size: 30px;
    }
  }
  .layout {
    position: relative;
    .sidebar {
      display: none;
      &.active {
        display: block !important;
        background-color: #fff;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        z-index: 999;
      }
    }
    .body {
      text-align: center;
      #description {
        width: auto !important;
        textarea {
          width: 350px !important;
        }
      }
    }
  }
}
